body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #537692;
  display: flex;
  flex-direction: column;
}
/*Heading*/
#title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d3f58;
  ;
}
#title, h1{
  color: #86b9b0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
